
/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3); }

html, body {
  font-family: "Microsoft YaHei";
  overflow-x: hidden; }

[v-cloak] {
  display: none; }

p {
  color: #232323; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.clearfix {
  overflow: hidden;
  _zoom: 1; }
  .clearfix ::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

header {
  background: #4ccbff linear-gradient(to right, #4ccbff, #0067e3);
  color: #fff;
  min-height: 70px;
  padding-top: 20px; }
  @media (max-width: 460px) {
    header {
      min-height: 50px; } }
  header a {
    color: #fff; }
  header .logo {
    float: left; }
    header .logo a {
      font-size: 22px;
      font-weight: 700; }
      @media (max-width: 460px) {
        header .logo a {
          font-size: 20px; } }
      header .logo a:hover {
        color: #fff; }
  header .top-nav {
    float: right; }
    header .top-nav li {
      list-style-type: none;
      display: inline-block;
      margin-left: 15px; }
      @media (max-width: 460px) {
        header .top-nav li {
          margin-left: 10px; } }
      header .top-nav li a {
        font-size: 18px; }
        header .top-nav li a:hover {
          color: #fff;
          text-decoration: underline; }
        @media (max-width: 460px) {
          header .top-nav li a {
            font-size: 14px; } }

.checkbox-group {
  display: inline-block; }
  .checkbox-group input[type='checkbox'], .checkbox-group input[type='radio'] {
    display: none; }
  .checkbox-group.radio label::before {
    border-radius: 100%; }
  .checkbox-group label {
    font-size: 17px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin-left: 0; }
    .checkbox-group label::before {
      font-size: 14px;
      border: 1px solid #ccc;
      padding: 1px;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 16px;
      display: inline-block;
      vertical-align: text-bottom;
      content: '00';
      text-indent: 100px;
      white-space: nowrap;
      overflow: hidden;
      margin-right: 6px; }
    .checkbox-group label:hover::before {
      content: '√';
      color: #ccc;
      text-indent: 0; }
  .checkbox-group input[type='checkbox']:checked ~ label, .checkbox-group input[type='radio']:checked ~ label {
    color: #1779ba; }
    .checkbox-group input[type='checkbox']:checked ~ label::before, .checkbox-group input[type='radio']:checked ~ label::before {
      content: '√';
      border-color: #1779ba;
      color: #fff;
      background: #1779ba;
      text-indent: 0; }
  .checkbox-group input[type='radio'] ~ label::before {
    line-height: 17px; }

.page-index .intro-box {
  background: #4ccbff linear-gradient(to right, #4ccbff, #0067e3);
  text-align: center;
  color: #fff;
  padding: 30px 15px 80px 15px; }
  .page-index .intro-box h1 {
    font-size: 36px; }
    @media (max-width: 640px) {
      .page-index .intro-box h1 {
        font-size: 24px; } }
  .page-index .intro-box .h1-des {
    line-height: 2.6;
    color: #fff; }
    @media (max-width: 640px) {
      .page-index .intro-box .h1-des {
        font-size: 14px; } }
.page-index .tool-box {
  border-radius: 20px;
  margin-top: -50px;
  background: #fff;
  padding: 25px 15px;
  border: 1px solid #eaeaea;
  border-radius: 30px;
  box-shadow: 0px 10px 10px rgba(231, 230, 236, 0.9);
  background: #fff; }
.page-index h1 {
  font-size: 26px;
  margin-top: 25px; }
.page-index h2 {
  font-size: 22px; }
.page-index .subtitle {
  font-size: 14px;
  color: #888; }
.page-index .drag-box {
  border: 2px dashed #bbb;
  border-radius: 5px;
  text-align: center;
  height: 160px;
  font: 20pt bold, "Vollkorn";
  color: #bbb;
  position: relative; }
.page-index .drag-box .tip-word {
  line-height: 160px;
  text-align: center; }
@media (max-width: 760px) {
  .page-index .drag-box .tip-word {
    font-size: 18px; } }
.page-index .drag-box .file-picker {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; }
.page-index .over-size-tip {
  text-align: center;
  margin-top: 5px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px; }
.page-index .title-box {
  background: #eaeaea;
  padding: 40px 15px; }
.page-index .tab-box {
  margin-top: 15px;
  text-align: left;
  user-select: none;
  border-bottom: 1px solid #ddd; }
.page-index .tab-box ul li {
  display: inline-block;
  line-height: 2.2;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
  color: #337ab7; }
.page-index .tab-box ul li.active {
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px; }
.page-index .file-overview {
  color: #888;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 14px; }
  @media (max-width: 640px) {
    .page-index .file-overview {
      float: none;
      margin: 10px;
      text-align: center; } }
.page-index .tab-content {
  background: #fff;
  border: 1px solid #ddd;
  min-height: 200px;
  text-align: left;
  padding: 10px; }
  .page-index .tab-content .tip {
    padding: 10px;
    font-size: 14px;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    border-radius: 4px; }
  .page-index .tab-content .content-wrapper {
    margin-top: 10px; }
    .page-index .tab-content .content-wrapper .setting-item {
      padding: 15px 0;
      border-bottom: 1px solid #eaeaea; }
    .page-index .tab-content .content-wrapper .setting-item:last-child {
      border-bottom: none; }
  .page-index .tab-content .inline-input, .page-index .tab-content .inline-select {
    display: inline;
    height: 32px;
    margin-bottom: 0;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100px; }
    .page-index .tab-content .inline-input.w50, .page-index .tab-content .inline-select.w50 {
      width: 50px; }
    .page-index .tab-content .inline-input.w100, .page-index .tab-content .inline-select.w100 {
      width: 100px; }
    .page-index .tab-content .inline-input.w200, .page-index .tab-content .inline-select.w200 {
      width: 200px; }
.page-index .button-box {
  margin: 25px 0; }
.page-index .tab-replace a.remove-rule {
  color: red;
  margin-right: 8px; }
.page-index .list-box {
  margin-top: 35px;
  user-select: none;
  line-height: 35px; }
  .page-index .list-box .ul-list {
    border: 1px solid #eaeaea; }
    .page-index .list-box .ul-list li {
      border-bottom: 1px solid #eaeaea;
      padding: 0 15px; }
      .page-index .list-box .ul-list li .id {
        float: left;
        width: 6%;
        color: #888;
        line-height: 35px; }
        @media (max-width: 640px) {
          .page-index .list-box .ul-list li .id {
            font-size: 10px; } }
      .page-index .list-box .ul-list li .operate-btn {
        float: left;
        width: 14%;
        line-height: 35px; }
        @media (max-width: 640px) {
          .page-index .list-box .ul-list li .operate-btn {
            font-size: 10px; } }
        .page-index .list-box .ul-list li .operate-btn a {
          float: left;
          margin-right: 10px;
          line-height: 35px;
          color: #555; }
          @media (max-width: 640px) {
            .page-index .list-box .ul-list li .operate-btn a {
              font-size: 10px;
              margin-right: 5px; } }
          .page-index .list-box .ul-list li .operate-btn a:hover {
            color: green; }
      .page-index .list-box .ul-list li .old-name, .page-index .list-box .ul-list li .new-name {
        float: left;
        width: 40%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 35px;
        font-family: Consolas, "Liberation Mono", Courier, monospace; }
        @media (max-width: 640px) {
          .page-index .list-box .ul-list li .old-name, .page-index .list-box .ul-list li .new-name {
            font-size: 10px; } }
      .page-index .list-box .ul-list li .new-name input {
        color: green; }
        @media (max-width: 640px) {
          .page-index .list-box .ul-list li .new-name input {
            font-size: 10px; } }
      .page-index .list-box .ul-list li:hover {
        border-bottom: 1px solid green; }
      .page-index .list-box .ul-list li input {
        border: none;
        outline: none;
        margin-bottom: 0;
        box-shadow: none; }
    .page-index .list-box .ul-list.title li:hover {
      border-bottom: 1px solid #eaeaea; }
.page-index .qa h3 {
  margin-top: 25px;
  font-size: 22px; }
.page-index .qa p {
  color: #555; }
.page-index hr {
  margin-top: 60px;
  margin-bottom: 50px; }
.page-index .why-us, .page-index .qa, .page-index .result-box {
  margin-top: 50px; }
.page-index .why-us .ul-advantage {
  list-style-type: none;
  margin-left: 0; }
  .page-index .why-us .ul-advantage li {
    min-height: 130px;
    width: 50%;
    float: left;
    padding: 15px 50px 15px 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
    position: relative;
    border: 1px solid #fff; }
    @media (max-width: 760px) {
      .page-index .why-us .ul-advantage li {
        width: 100%; } }
    .page-index .why-us .ul-advantage li:hover {
      border: 1px solid #eaeaea; }
    .page-index .why-us .ul-advantage li i {
      position: absolute;
      top: 18px;
      left: 16px;
      font-size: 50px;
      color: #7eb631; }
    .page-index .why-us .ul-advantage li b {
      font-size: 18px;
      display: block;
      color: #000; }
.page-index .why-us code::after {
  display: none; }

.page-single article {
  padding: 25px 15px;
  min-height: 500px; }
  .page-single article h1 {
    font-size: 32px;
    margin-bottom: 25px; }
  .page-single article p {
    line-height: 2.0; }

/* footer */
footer, .footer {
  background: #373d41;
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #eaeaea;
  color: #999; }
  footer a, .footer a {
    color: #73777a; }
    footer a:hover, .footer a:hover {
      color: #fff; }
  footer .footer-nav a, .footer .footer-nav a {
    color: #9b9ea0;
    margin-right: 35px; }
    @media (max-width: 760px) {
      footer .footer-nav a, .footer .footer-nav a {
        margin-right: 10px;
        font-size: 13px; } }
    footer .footer-nav a:hover, .footer .footer-nav a:hover {
      color: #fff; }
  footer .friend-link, .footer .friend-link {
    margin-bottom: 20px;
    margin-top: 30px; }
    footer .friend-link a, .footer .friend-link a {
      font-size: 14px;
      margin-left: 0;
      margin-right: 15px; }
  footer p.copyright, .footer p.copyright {
    font-size: 14px;
    color: #73777a; }

main {
  min-height: 100px; }
  main h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px; }

.file-box {
  padding: 10px 15px;
  border: 1px solid #eaeaea; }
  @media (max-width: 560px) {
    .file-box {
      padding: 0;
      border: 0; } }
  .file-box .ul-file-list {
    list-style-type: none;
    margin-left: 0; }
    .file-box .ul-file-list li {
      background: #eaeaea;
      margin: 15px 0;
      padding: 6px 10px; }
      .file-box .ul-file-list li .bar-item {
        float: left;
        padding: 0 10px; }
        .file-box .ul-file-list li .bar-item a {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 80%;
          float: left; }
        .file-box .ul-file-list li .bar-item span.text {
          float: right;
          color: #7eb631; }
      .file-box .ul-file-list li .info-bar {
        width: 35%; }
        @media (max-width: 760px) {
          .file-box .ul-file-list li .info-bar {
            width: 40%;
            padding-left: 0;
            line-height: 2.2; }
            .file-box .ul-file-list li .info-bar a {
              max-width: 100%;
              font-size: 8px; }
            .file-box .ul-file-list li .info-bar .text {
              display: none; } }
      .file-box .ul-file-list li .progress-bar {
        width: 50%;
        height: 28px; }
        @media (max-width: 760px) {
          .file-box .ul-file-list li .progress-bar {
            width: 40%; }
            .file-box .ul-file-list li .progress-bar .bar {
              width: 50%; }
            .file-box .ul-file-list li .progress-bar .progress-meter-text {
              font-size: 8px; }
            .file-box .ul-file-list li .progress-bar .text {
              display: none; } }
        .file-box .ul-file-list li .progress-bar .bar {
          width: 70%;
          margin-top: -3px;
          vertical-align: middle;
          display: inline-block; }
          .file-box .ul-file-list li .progress-bar .bar .progress {
            margin-bottom: 0;
            height: 20px; }
      .file-box .ul-file-list li .download-bar {
        width: 15%; }
        @media (max-width: 760px) {
          .file-box .ul-file-list li .download-bar {
            width: 20%;
            padding: 0; }
            .file-box .ul-file-list li .download-bar a {
              margin-left: 0 !important; }
            .file-box .ul-file-list li .download-bar .text {
              display: none; } }
        .file-box .ul-file-list li .download-bar a {
          margin-right: 10px; }
        .file-box .ul-file-list li .download-bar span.text {
          color: #222; }

.drag-box {
  border: 2px dashed #bbb;
  margin-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  height: 200px;
  font: 20pt bold, "Vollkorn";
  color: #bbb;
  position: relative; }
  .drag-box .tip-word {
    line-height: 200px;
    text-align: center; }
    @media (max-width: 560px) {
      .drag-box .tip-word {
        font-size: 20px; } }
  .drag-box .file-picker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer; }

.compress-tip {
  display: inline-block;
  margin: auto;
  border: 1px solid #eaeaea;
  padding: 15px 30px; }
  @media (max-width: 560px) {
    .compress-tip {
      display: block; } }
  .compress-tip b {
    font-size: 35px;
    color: #555;
    vertical-align: sub;
    padding: 0 10px; }
    @media (max-width: 560px) {
      .compress-tip b {
        display: block; } }

.qa h3 {
  margin-top: 25px;
  font-size: 22px; }
.qa p {
  color: #555; }

hr {
  margin-top: 60px;
  margin-bottom: 50px; }

.why-us, .qa, .result-box {
  margin-top: 50px; }

.why-us .ul-advantage {
  list-style-type: none;
  margin-left: 0; }
  .why-us .ul-advantage li {
    min-height: 130px;
    width: 50%;
    float: left;
    padding: 15px 50px 15px 90px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
    position: relative;
    border: 1px solid #fff; }
    @media (max-width: 760px) {
      .why-us .ul-advantage li {
        width: 100%; } }
    .why-us .ul-advantage li:hover {
      border: 1px solid #eaeaea; }
    .why-us .ul-advantage li i {
      position: absolute;
      top: 8px;
      left: 16px;
      font-size: 50px;
      color: #7eb631; }
    .why-us .ul-advantage li b {
      font-size: 18px;
      display: block;
      color: #000; }
.why-us code::after {
  display: none; }

@media (max-width: 760px) {
  .result-overview {
    overflow: auto; } }
.result-overview p {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto; }
.result-overview .result, .result-overview .progress-box {
  margin-top: 25px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 760px) {
    .result-overview .result, .result-overview .progress-box {
      max-width: 400px; } }
.result-overview .result {
  cursor: e-resize;
  user-select: none;
  position: relative;
  box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.2); }
  .result-overview .result::after {
    display: block;
    content: ' ';
    clear: both; }
  .result-overview .result .origin, .result-overview .result .after {
    position: relative;
    width: 100%;
    height: 100%; }
    @media (max-width: 760px) {
      .result-overview .result .origin, .result-overview .result .after {
        width: 100%; } }
  .result-overview .result .origin {
    float: left; }
  .result-overview .result .after {
    width: 200px;
    overflow: hidden;
    border-right: 2px solid #fff;
    position: absolute; }
  .result-overview .result .origin img, .result-overview .result .after img {
    max-width: 960px; }
    @media (max-width: 760px) {
      .result-overview .result .origin img, .result-overview .result .after img {
        max-width: 400px; } }
  .result-overview .result .origin span, .result-overview .result .after span {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 4px 15px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden; }
  .result-overview .result .origin span {
    left: auto;
    right: 20px; }
.result-overview .progress-box .progress {
  margin-bottom: 0;
  display: inline-block; }
.result-overview .progress-box span {
  margin-left: 10px;
  font-size: 14px;
  color: #555;
  vertical-align: text-bottom; }
.result-overview .progress-box .origin .progress {
  width: 18.58%; }
.result-overview .progress-box .after .progress {
  width: 50%; }
.result-overview .progress-box .download-box {
  float: right; }
  @media (max-width: 760px) {
    .result-overview .progress-box .download-box {
      text-align: center;
      float: none;
      margin-bottom: 20px; } }
  .result-overview .progress-box .download-box a {
    display: inline-block;
    border: 1px solid #1779ba;
    line-height: 2;
    padding: 0 10px;
    margin-left: 10px; }
    .result-overview .progress-box .download-box a:hover {
      background: #1779ba;
      color: #fff; }

.i18n-box {
  margin-top: 50px;
  padding-top: 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #eaeaea; }
  .i18n-box ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-align: center; }
    .i18n-box ul li {
      margin: 0 8px;
      padding: 0 6px;
      line-height: 1.6;
      font-size: 16px;
      display: inline-block; }
      .i18n-box ul li a {
        color: #555; }
        .i18n-box ul li a:hover {
          color: #7eb631; }

/*# sourceMappingURL=common.css.map */
