a:hover {
  text-decoration: none; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3); }

.edit-box .control {
  padding-left: 0;
  list-style-type: none; }
  .edit-box .control li {
    float: left;
    margin: 0 6px; }
.edit-box .textarea {
  height: auto;
  padding: 10px; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[v-cloak] {
  display: none; }

.js-go-top {
  position: fixed;
  right: 50px;
  bottom: 80px;
  display: none; }

@media (max-width: 768px) {
  .js-go-top {
    right: 10px; } }
.js-go-top i {
  margin-top: -5px;
  display: block;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
  width: 50px;
  line-height: 52px !important;
  height: 50px;
  line-height: 60px;
  background: rgba(204, 204, 204, 0.5);
  color: #fff;
  cursor: pointer; }

.js-go-top i:hover {
  background: #cccccc; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.beianhao, .known-more {
  color: #3c3c3c;
  font-size: 12px; }

header {
  height: 50px;
  border-bottom: 1px solid #eaeaea;
  box-shadow: 1px 1px 5px #eaeaea; }
  header .slogan {
    line-height: 50px;
    font-size: 18px; }
    header .slogan a {
      text-decoration: none; }
      header .slogan a i {
        font-size: 22px;
        margin-right: 8px; }

footer, .footer {
  background: #373d41;
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #eaeaea;
  color: #999; }
  footer a, .footer a {
    color: #73777a; }
    footer a:hover, .footer a:hover {
      color: #fff; }
  footer .footer-nav a, .footer .footer-nav a {
    color: #9b9ea0;
    margin-right: 35px; }
    @media (max-width: 760px) {
      footer .footer-nav a, .footer .footer-nav a {
        margin-right: 10px;
        font-size: 13px; } }
    footer .footer-nav a:hover, .footer .footer-nav a:hover {
      color: #fff; }
  footer .friend-link, .footer .friend-link {
    margin-bottom: 20px;
    margin-top: 30px; }
    footer .friend-link a, .footer .friend-link a {
      font-size: 14px;
      margin-left: 0;
      margin-right: 15px; }
  footer .bdsharebuttonbox a, .footer .bdsharebuttonbox a {
    margin-right: 15px;
    zoom: 110%; }
  footer p.copyright, .footer p.copyright {
    font-size: 14px;
    text-align: left;
    color: #73777a; }

.login-box-wrapper {
  text-align: center; }
  .login-box-wrapper .tip-text {
    margin-top: 160px;
    font-size: 28px;
    text-align: center;
    color: #555; }
    @media (max-width: 640px) {
      .login-box-wrapper .tip-text {
        margin-top: 40px; } }
  .login-box-wrapper .login-box {
    width: 520px;
    display: inline-block;
    margin: 100px auto 180px auto; }
    @media (max-width: 640px) {
      .login-box-wrapper .login-box {
        width: 80%; } }

.page-freeze {
  text-align: center;
  padding: 100px 0; }
  .page-freeze h1 {
    margin-top: 50px;
    font-size: 32px;
    text-align: center;
    color: #CE0000;
    margin-bottom: 50px; }
    @media (max-width: 640px) {
      .page-freeze h1 {
        margin-top: 40px; } }
  .page-freeze .content {
    font-size: 18px;
    color: #333; }
    .page-freeze .content b {
      font-size: 22px;
      color: #FF5151; }
  .page-freeze .tip {
    border-top: 1px solid #eaeaea;
    display: inline-block;
    padding-top: 30px;
    margin-top: 50px;
    color: #888;
    font-size: 14px; }

.page-auth-pwd {
  text-align: center; }
  .page-auth-pwd .tip-text {
    margin-top: 160px;
    font-size: 28px;
    text-align: center;
    color: #555; }
    @media (max-width: 640px) {
      .page-auth-pwd .tip-text {
        margin-top: 40px; } }
  .page-auth-pwd .login-box {
    width: 520px;
    display: inline-block;
    margin: 100px auto 180px auto; }
    @media (max-width: 640px) {
      .page-auth-pwd .login-box {
        width: 80%; } }

/*# sourceMappingURL=style.css.map */
